---
import Section from "../Section.astro";
import C_Sharp from "@/icons/csar.astro";
import Dotnet from "@/icons/dotnet.astro";
import MySQL from "@/icons/sql.astro";
import Git from "@/icons/git.astro";
import English from "@/icons/english.astro";
import GitHub from "@/icons/GitHub.astro";
import Scrum from "@/icons/scrum.astro";
import TeamWork from "@/icons/teamwork.astro";
import { skills } from "@cv";
import Swift from "@/icons/swift.astro";
import SwiftUI from "@/icons/swiftui.astro";
import Kotlin from "@/icons/kotlin.astro";
import Flutter from "@/icons/flutter.astro";
import Html from "@/icons/html.astro";

const SKILLS_ICONS: Record<string, any> = {
  Html,
  C_Sharp,
  Dotnet,
  English,
  MySQL,
  Git,
  GitHub,
  Swift,
  SwiftUI,
  Kotlin,
  Flutter,
  Scrum,
  TeamWork,
};
---

<Section title="Habilidades">
  <ul>
    {
      skills.map(({ name }) => {
        const iconName = name === "Next.js" ? "Next" : name;
        const Icon = SKILLS_ICONS[iconName];

        return (
          <li>
            {Icon && <Icon />} <span>{name}</span>
          </li>
        );
      })
    }
  </ul>
</Section>

<style>
  ul {
    display: inline-flex;
    gap: 8px;
    flex-wrap: wrap;
  }

  li {
    align-items: center;
    background: #eee;
    border-radius: 6px;
    color: black;
    display: flex;
    font-size: 0.8rem;
    font-weight: 500;
    gap: 4px;
    padding: 0.2rem 0.6rem;
  }
</style>
